################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MantelGameMaker
/MantelGameEditor/x64/Debug
*.user
/x64/Debug
/.vs
/MantelGameEngine/x64/Debug
/x64/Release
/MantelGameEditor/x64/Release
/MantelGameEngine/x64/Release
/MantelGameEditor/imgui.ini